<div data-hs-stepper="">
  <ul class="relative flex flex-row gap-x-2">
    <li class="flex items-center flex-1 gap-x-2 shrink basis-0 group" data-hs-stepper-nav-item='{
      "index": 1
    }'>
      <span class="inline-flex items-center text-xs align-middle min-w-7 min-h-7 group">
        <span
          class="flex items-center justify-center font-medium text-gray-800 bg-gray-100 rounded-full size-7 shrink-0 group-focus:bg-gray-200 hs-stepper-active:bg-seance-600 hs-stepper-active:text-white hs-stepper-success:bg-seance-600 hs-stepper-success:text-white hs-stepper-completed:bg-scarlet-300 hs-stepper-completed:group-focus:bg-scarlet-600">
          <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">1</span>
          <svg-icon src="../../../../../assets/icons/check-sm.svg"
            svgClass="hidden shrink-0 size-3 hs-stepper-success:block" />
        </span>
        <span class="text-sm font-medium text-gray-800 ms-2">
          Classify
        </span>
      </span>
      <div
        class="flex-1 w-full h-px bg-gray-200 group-last:hidden hs-stepper-success:bg-seance-600 hs-stepper-completed:bg-scarlet-600">
      </div>
    </li>

    <li class="flex items-center flex-1 gap-x-2 shrink basis-0 group" data-hs-stepper-nav-item='{
      "index": 2
    }'>
      <span class="inline-flex items-center text-xs align-middle min-w-7 min-h-7 group">
        <span
          class="flex items-center justify-center font-medium text-gray-800 bg-gray-100 rounded-full size-7 shrink-0 group-focus:bg-gray-200 hs-stepper-active:bg-seance-600 hs-stepper-active:text-white hs-stepper-success:bg-seance-600 hs-stepper-success:text-white hs-stepper-completed:bg-scarlet-500 hs-stepper-completed:group-focus:bg-scarlet-600">
          <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">2</span>
          <svg-icon src="../../../../../assets/icons/check-sm.svg"
            svgClass="hidden shrink-0 size-3 hs-stepper-success:block" />
        </span>
        <span class="text-sm font-medium text-gray-800 ms-2">
          Write

        </span>
      </span>
      <div
        class="flex-1 w-full h-px bg-gray-200 group-last:hidden hs-stepper-success:bg-seance-600 hs-stepper-completed:bg-scarlet-600">
      </div>
    </li>

    <li class="flex items-center flex-1 gap-x-2 shrink basis-0 group" data-hs-stepper-nav-item='{
        "index": 3
      }'>
      <span class="inline-flex items-center text-xs align-middle min-w-7 min-h-7 group">
        <span
          class="flex items-center justify-center font-medium text-gray-800 bg-gray-100 rounded-full size-7 shrink-0 group-focus:bg-gray-200 hs-stepper-active:bg-seance-600 hs-stepper-active:text-white hs-stepper-success:bg-seance-600 hs-stepper-success:text-white hs-stepper-completed:bg-scarlet-500 hs-stepper-completed:group-focus:bg-scarlet-600">
          <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">3</span>
          <svg-icon src="../../../../../assets/icons/check-sm.svg"
            svgClass="hidden shrink-0 size-3 hs-stepper-success:block" />
        </span>
        <span class="text-sm font-medium text-gray-800 ms-2">
          Manage
        </span>
      </span>
      <div
        class="flex-1 w-full h-px bg-gray-200 group-last:hidden hs-stepper-success:bg-seance-600 hs-stepper-completed:bg-scarlet-600">
      </div>
    </li>
  </ul>

  <div class="mt-5 sm:mt-8">
    <div data-hs-stepper-content-item='{
      "index": 1
    }'>
      <div class="mb-8 text-start">
        <h2 class="text-2xl font-bold text-scarlet md:text-3xl">
          Classify your role
        </h2>
        <p class="text-sm text-scarlet-900">
          Input job classification details
        </p>
      </div>
      <div class="w-full h-full p-4 border border-dashed border-violet-200 bg-scarlet-50 rounded-xl">
        <app-classify-form (classify)="classifyData($event)" />
      </div>
    </div>

    <div data-hs-stepper-content-item='{
      "index": 2
    }' style="display: none;">
      <div class="mb-8 text-start">
        <h2 class="text-2xl font-bold text-scarlet md:text-3xl">
          Write about your job
        </h2>
      </div>
      <div class="w-full h-full p-4 border border-dashed border-violet-200 bg-scarlet-50 rounded-xl">
        <app-job-description-form (jobDesc)="jobDescData($event)"></app-job-description-form>
      </div>
    </div>

    <div data-hs-stepper-content-item='{
      "index": 3
    }' style="display: none;">
      <div class="mb-8 text-start">
        <h2 class="text-2xl font-bold text-scarlet md:text-3xl">
          Write about your job
        </h2>
      </div>
      <div class="w-full h-full p-4 border border-dashed border-violet-200 bg-scarlet-50 rounded-xl">
        <app-manage-candidate (reference)="referenceData($event)" />
      </div>
    </div>
    <div data-hs-stepper-content-item='{
      "isFinal": true
    }' style="display: none;">
      <div class="flex items-center justify-center h-48 p-4 border border-gray-200 border-dashed bg-gray-50 rounded-xl">
        <h3 class="text-gray-500">
          Final content
        </h3>
      </div>
    </div>
    <div class="flex items-center justify-between mt-5 gap-x-2">
      <button type="button" class="btn-negative" data-hs-stepper-back-btn="">
        <svg-icon src="../../../../../assets/icons/arrow-left.svg" svgClass="shrink-0 size-4" />
        Back
      </button>
      <button type="button" class="btn-positive" data-hs-stepper-next-btn="">
        Next
        <svg-icon src="../../../../../assets/icons/arrow-right.svg" svgClass="shrink-0 size-4" />
      </button>
      <button (click)="onSubmit()" type="button" class="btn-positive" data-hs-stepper-finish-btn=""
        style="display: none;">
        Finish
      </button>
      <button type="reset" class="btn-positive" data-hs-stepper-reset-btn="" style="display: none;">
        Reset
      </button>
    </div>
  </div>
</div>
