

<div data-hs-stepper="">
  <ul class="relative flex flex-row gap-x-2">
    <li class="flex items-center flex-1 gap-x-2 shrink basis-0 group" data-hs-stepper-nav-item='{
      "index": 1
    }'>
      <span class="inline-flex items-center text-xs align-middle min-w-7 min-h-7 group">
        <span class="flex items-center justify-center font-medium text-gray-800 bg-gray-100 rounded-full size-7 shrink-0 group-focus:bg-gray-200 hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600">
          <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">1</span>
          <svg class="hidden shrink-0 size-3 hs-stepper-success:block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="20 6 9 17 4 12"></polyline>
          </svg>
        </span>
        <span class="text-sm font-medium text-gray-800 ms-2">
          Classify
        </span>
      </span>
      <div class="flex-1 w-full h-px bg-gray-200 group-last:hidden hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600"></div>
    </li>

    <li class="flex items-center flex-1 gap-x-2 shrink basis-0 group" data-hs-stepper-nav-item='{
      "index": 2
    }'>
      <span class="inline-flex items-center text-xs align-middle min-w-7 min-h-7 group">
        <span class="flex items-center justify-center font-medium text-gray-800 bg-gray-100 rounded-full size-7 shrink-0 group-focus:bg-gray-200 hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600">
          <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">2</span>
          <svg class="hidden shrink-0 size-3 hs-stepper-success:block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="20 6 9 17 4 12"></polyline>
          </svg>
        </span>
        <span class="text-sm font-medium text-gray-800 ms-2">
          Write

        </span>
      </span>
      <div class="flex-1 w-full h-px bg-gray-200 group-last:hidden hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600"></div>
    </li>

    <li class="flex items-center flex-1 gap-x-2 shrink basis-0 group" data-hs-stepper-nav-item='{
        "index": 3
      }'>
      <span class="inline-flex items-center text-xs align-middle min-w-7 min-h-7 group">
        <span class="flex items-center justify-center font-medium text-gray-800 bg-gray-100 rounded-full size-7 shrink-0 group-focus:bg-gray-200 hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600">
          <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">3</span>
          <svg class="hidden shrink-0 size-3 hs-stepper-success:block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="20 6 9 17 4 12"></polyline>
          </svg>
        </span>
        <span class="text-sm font-medium text-gray-800 ms-2">
          Manage
        </span>
      </span>
      <div class="flex-1 w-full h-px bg-gray-200 group-last:hidden hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600"></div>
    </li>
    <!-- End Item -->
  </ul>
  <!-- End Stepper Nav -->

  <!-- Stepper Content -->
  <div class="mt-5 sm:mt-8">
    <!-- First Contnet -->

    <div data-hs-stepper-content-item='{
      "index": 1
    }'>
          <div class="mb-8 text-start">
      <h2 class="text-2xl font-bold text-scarlet md:text-3xl">
         Classify your role
      </h2>
      <p class="text-sm text-scarlet-900">
         Input job classification details
      </p>

    </div>
      <div class="w-full h-full p-4 border border-dashed border-violet-200 bg-scarlet-50 rounded-xl">
        <app-classify-form></app-classify-form>
        <!-- Form Here -->

      </div>
    </div>
    <!-- End First Contnet -->

    <!-- First Contnet -->
    <div data-hs-stepper-content-item='{
      "index": 2
    }' style="display: none;">
      <div class="flex items-center justify-center h-48 p-4 border border-gray-200 border-dashed bg-gray-50 rounded-xl">
        <h3 class="text-gray-500">
          Second content
        </h3>
      </div>
    </div>
    <!-- End First Contnet -->

    <!-- First Contnet -->
    <div data-hs-stepper-content-item='{
      "index": 3
    }' style="display: none;">
      <div class="flex items-center justify-center h-48 p-4 border border-gray-200 border-dashed bg-gray-50 rounded-xl">
        <h3 class="text-gray-500">
          Third content
        </h3>
      </div>
    </div>
    <!-- End First Contnet -->

    <!-- Final Contnet -->
    <div data-hs-stepper-content-item='{
      "isFinal": true
    }' style="display: none;">
      <div class="flex items-center justify-center h-48 p-4 border border-gray-200 border-dashed bg-gray-50 rounded-xl">
        <h3 class="text-gray-500">
          Final content
        </h3>
      </div>
    </div>
    <!-- End Final Contnet -->

    <!-- Button Group -->
      <div class="flex items-center justify-between mt-5 gap-x-2">
        <button type="button" class="btn-negative" data-hs-stepper-back-btn="">
          <svg-icon src="../../../../../assets/icons/arrow-left.svg" svgClass="shrink-0 size-4" />
          Back
        </button>
        <button type="button" class="btn-positive" data-hs-stepper-next-btn="" (click)="passData()">
          Next
          <svg-icon src="../../../../../assets/icons/arrow-right.svg" svgClass="shrink-0 size-4" />
        </button>
        <button type="button" class="btn-positive" data-hs-stepper-finish-btn="" style="display: none;">
          Finish
        </button>
        <button type="reset" class="btn-positive" data-hs-stepper-reset-btn="" style="display: none;">
          Reset
        </button>
      </div>
  </div>
</div>
