:host {
    display: block;

    ::ng-deep {
        .p-inputtext.ng-dirty.ng-invalid {
            border-color: #e24c4c;
        }

        .p-inputnumber-input {
            @apply text-sm text-scarlet-900 italic;
        }
    }
}

.errors {
    &-message {
        @apply blink absolute left-0 text-xs font-semibold text-red-700;
    }
}

.message {
    @apply ml-2 absolute left-0 text-xs font-semibold text-scarlet-700;
}

.label-valid {
    @apply flex justify-center text-start text-sm font-medium text-scarlet-950;
}

.label-invalid {
    @apply flex justify-center text-start text-sm font-medium text-red-700;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
