@if (isComplete) {
  <div class="max-w-[55rem] px-4 pt-4 pb-1 mx-auto sm:px-6 lg:px-8 md:pt-2">
<div data-hs-stepper="">
  <ul class="relative flex flex-row gap-x-2">
    <li class="flex items-center flex-1 gap-x-2 shrink basis-0 group" data-hs-stepper-nav-item='{
      "index": 1
    }'>
      <span class="inline-flex items-center text-xs align-middle min-w-7 min-h-7 group">
        <span class="flex items-center justify-center font-medium text-gray-800 bg-gray-100 rounded-full size-7 shrink-0 group-focus:bg-gray-200 hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600">
          <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">1</span>
          <svg class="hidden shrink-0 size-3 hs-stepper-success:block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="20 6 9 17 4 12"></polyline>
          </svg>
        </span>
        <span class="text-sm font-medium text-gray-800 ms-2">
          Step
        </span>
      </span>
      <div class="flex-1 w-full h-px bg-gray-200 group-last:hidden hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600"></div>
    </li>

    <li class="flex items-center flex-1 gap-x-2 shrink basis-0 group" data-hs-stepper-nav-item='{
      "index": 2
    }'>
      <span class="inline-flex items-center text-xs align-middle min-w-7 min-h-7 group">
        <span class="flex items-center justify-center font-medium text-gray-800 bg-gray-100 rounded-full size-7 shrink-0 group-focus:bg-gray-200 hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600">
          <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">2</span>
          <svg class="hidden shrink-0 size-3 hs-stepper-success:block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="20 6 9 17 4 12"></polyline>
          </svg>
        </span>
        <span class="text-sm font-medium text-gray-800 ms-2">
          Step
        </span>
      </span>
      <div class="flex-1 w-full h-px bg-gray-200 group-last:hidden hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600"></div>
    </li>

    <li class="flex items-center flex-1 gap-x-2 shrink basis-0 group" data-hs-stepper-nav-item='{
        "index": 3
      }'>
      <span class="inline-flex items-center text-xs align-middle min-w-7 min-h-7 group">
        <span class="flex items-center justify-center font-medium text-gray-800 bg-gray-100 rounded-full size-7 shrink-0 group-focus:bg-gray-200 hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600">
          <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">3</span>
          <svg class="hidden shrink-0 size-3 hs-stepper-success:block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="20 6 9 17 4 12"></polyline>
          </svg>
        </span>
        <span class="text-sm font-medium text-gray-800 ms-2">
          Step
        </span>
      </span>
      <div class="flex-1 w-full h-px bg-gray-200 group-last:hidden hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600"></div>
    </li>
    <!-- End Item -->
  </ul>
  <!-- End Stepper Nav -->

  <!-- Stepper Content -->
  <div class="mt-5 sm:mt-8">
    <!-- First Contnet -->
    <div data-hs-stepper-content-item='{
      "index": 1
    }'>
<!-- Card Section -->
<div class="px-4 py-10 mx-auto sm:px-6 lg:px-8 lg:py-1">
  <!-- Card -->
  <div class="relative p-4 bg-white shadow rounded-xl sm:p-7">
    <div class="absolute top-1 right-1 p-4 mt-0.5 size-5 flex justify-center items-center rounded-full bg-violet-50 text-scarlet">
      <button type="button" (click)="isUpdateAccount()">
        <i class="pi pi-pen-to-square"></i>
      </button>
    </div>
    <div class="mb-8 text-start">
      <h2 class="text-2xl font-bold text-scarlet md:text-3xl">
        Personal Details
      </h2>
      <p class="text-sm text-scarlet-900">
        Manage your personal information
      </p>
    </div>

    @if (isAccount) {
    <div>
      <form>
        <div class="py-6 border-t border-gray-200 first:pt-0 last:pb-0 first:border-transparent">
          <label for="af-payment-billing-address" class="inline-block text-sm font-medium">
            Billing address
          </label>

          <div class="mt-2 space-y-3">
            <input id="af-payment-billing-address" type="text" class="block w-full px-3 py-2 text-sm border-gray-200 rounded-lg shadow-sm pe-11 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Street Address">
            <input type="text" class="block w-full px-3 py-2 text-sm border-gray-200 rounded-lg shadow-sm pe-11 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Apt, Syuite, Building (Optional)">

          </div>
        </div>
      </form>

      <div class="flex justify-end mt-5 gap-x-2">
        <button (click)="isUpdateAccount()" type="button" class="btn-negative">
          Cancel
        </button>
        <button type="button" class="btn-positive">
          Save changes
        </button>
      </div>
    </div>
    } @else {
      <app-personal-details-form></app-personal-details-form>
    }

  </div>
  <!-- End Card -->
</div>
<!-- End Card Section -->
    </div>
    <!-- End First Contnet -->

    <!-- First Contnet -->
    <div data-hs-stepper-content-item='{
      "index": 2
    }' style="display: none;">
      <div class="flex items-center justify-center h-48 p-4 border border-gray-200 border-dashed bg-gray-50 rounded-xl">
        <h3 class="text-gray-500">
          Second content
        </h3>
      </div>
    </div>
    <!-- End First Contnet -->

    <!-- First Contnet -->
    <div data-hs-stepper-content-item='{
      "index": 3
    }' style="display: none;">
      <div class="flex items-center justify-center h-48 p-4 border border-gray-200 border-dashed bg-gray-50 rounded-xl">
        <h3 class="text-gray-500">
          Third content
        </h3>
      </div>
    </div>
    <!-- End First Contnet -->

    <!-- Final Contnet -->
    <div data-hs-stepper-content-item='{
      "isFinal": true
    }' style="display: none;">
      <div class="flex items-center justify-center h-48 p-4 border border-gray-200 border-dashed bg-gray-50 rounded-xl">
        <h3 class="text-gray-500">
          Final content
        </h3>
      </div>
    </div>
    <!-- End Final Contnet -->

    <!-- Button Group -->
    <div class="flex items-center justify-between mt-5 gap-x-2">
      <button type="button" class="btn-negative" data-hs-stepper-back-btn="">
        <svg-icon src="../../../../../assets/icons/arrow-left.svg" svgClass="shrink-0 size-4" />
        Back
      </button>
      <button type="button" class="btn-positive" data-hs-stepper-next-btn="">
        Next
        <svg-icon src="../../../../../assets/icons/arrow-right.svg" svgClass="shrink-0 size-4" />
      </button>
      <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-lg gap-x-1 hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" data-hs-stepper-finish-btn="" style="display: none;">
        Finish
      </button>
      <button type="reset" class="inline-flex items-center px-3 py-2 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-lg gap-x-1 hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" data-hs-stepper-reset-btn="" style="display: none;">
        Reset
      </button>
    </div>
    <!-- End Button Group -->
  </div>
  <!-- End Stepper Content -->
</div>
<!-- End Stepper -->
<!-- End Card Section -->
  </div>

} @else {
  <div class="max-w-[85rem] px-4 py-3 sm:px-6 lg:px-1 lg:py-14 mx-auto">
    <div class="relative p-6 md:p-16">
      <!-- Grid -->
      <div
        class="relative z-10 lg:grid lg:grid-cols-12 lg:gap-16 lg:items-center"
      >
        <div class="mb-10 lg:mb-0 lg:col-span-6 lg:col-start-8 lg:order-2">
          <h2 class="text-2xl font-bold text-gray-800 sm:text-3xl">
            Customize Your Profile to Match Your Company's Unique Identity
          </h2>

          <!-- Tab Navs -->
          <nav class="grid gap-4 mt-5 md:mt-10" aria-label="Tabs" role="tablist">
            @for (item of incompleteSections; track $index) {
              @if (completeConditions(item)) {
                <div
                  class="p-4 cursor-pointer text-start hover:bg-gray-200 md:p-5 rounded-xl"
                  aria-controls="tabs-with-card-1"
                  role="tab"
                >
                  <span class="flex">
                    <svg-icon
                      src="../../../../../assets/icons/complete.svg"
                      svgClass="flex-shrink-0 mt-2 text-gray-800 size-6 md:size-7"
                    />
                    <span class="grow ms-6">
                      <span class="block text-lg font-semibold text-gray-800">{{
                        completeMessage(item)?.title
                      }}</span>
                      <span class="block mt-1 text-gray-800">{{
                        completeMessage(item)?.subtitle
                      }}</span>
                    </span>
                  </span>
                </div>
              } @else {
                <app-tab-navs
                  [activeTab]="activeTab"
                  [existTab]="item.tab"
                  [icon]="item.icon"
                  [title]="item.title"
                  [subtitle]="item.subtitle"
                  (clicked)="setActiveTab(item.tab)"
                >
                  <button class="form-button" (click)="navigate(item.routes)">
                    {{ item.label }}
                  </button>
                </app-tab-navs>
              }
            }
          </nav>
          @if (accountId && companyId && addressId) {
            <div class="flex items-start justify-center">
              <button class="form-button">Create Job Ad</button>
            </div>
          }
        </div>

        <div class="lg:col-span-6">
          <div class="relative">
            <div>
              <!-- Loop Background Images -->
              @for (item of incompleteSections; track $index) {
                <div
                  id="tabs-with-card-1"
                  role="tabpanel"
                  aria-labelledby="tabs-with-card-item-1"
                  [ngClass]="{ hidden: activeTab !== item.tab }"
                >
                  <img
                    class="shadow-xl shadow-gray-200 rounded-xl"
                    [src]="item.images"
                    alt="Image Description"
                  />
                </div>
              }
            </div>

            <!-- SVG Element -->
            <div
              class="absolute top-0 hidden translate-x-20 end-0 md:block lg:translate-x-20"
            >
              <svg
                class="w-16 h-auto text-orange-500"
                width="121"
                height="135"
                viewBox="0 0 121 135"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164"
                  stroke="currentColor"
                  stroke-width="10"
                  stroke-linecap="round"
                />
                <path
                  d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5"
                  stroke="currentColor"
                  stroke-width="10"
                  stroke-linecap="round"
                />
                <path
                  d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874"
                  stroke="currentColor"
                  stroke-width="10"
                  stroke-linecap="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="absolute inset-0 grid grid-cols-12 size-full">
        <div
          class="w-full bg-gray-100 col-span-full lg:col-span-7 lg:col-start-6 h-5/6 rounded-xl sm:h-3/4 lg:h-full"
        ></div>
      </div>
    </div>
  </div>

}

