<div class="max-w-[55rem] px-4 pb-1 mx-auto sm:px-6 lg:px-8">
    <div data-hs-stepper="">
        <ul class="relative flex flex-row gap-x-2">
            <li
                class="flex items-center flex-1 gap-x-2 shrink basis-0 group"
                data-hs-stepper-nav-item='{ "index": 1 }'>
                <span class="inline-flex items-center text-xs align-middle min-w-7 min-h-7 group">
                    <span class="stepper">
                        <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">1</span>
                        <svg-icon
                            src="../../../../../assets/icons/check-sm.svg"
                            svgClass="hidden shrink-0 size-3 hs-stepper-success:block" />
                    </span>
                    <span class="text-sm font-medium text-scarlet-900 ms-2"> Account Details </span>
                </span>
                <div
                    class="flex-1 w-full h-px bg-gray-200 group-last:hidden hs-stepper-success:bg-seance-700 hs-stepper-completed:bg-violet-600"></div>
            </li>

            <li
                class="flex items-center flex-1 gap-x-2 shrink basis-0 group"
                data-hs-stepper-nav-item='{ "index": 2 }'>
                <span class="inline-flex items-center text-xs align-middle min-w-7 min-h-7 group">
                    <span class="stepper">
                        <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">2</span>
                        <svg-icon
                            src="../../../../../assets/icons/check-sm.svg"
                            svgClass="hidden shrink-0 size-3 hs-stepper-success:block" />
                    </span>
                    <span class="text-sm font-medium text-scarlet-900 ms-2"> Company Details </span>
                </span>
                <div
                    class="flex-1 w-full h-px bg-gray-200 group-last:hidden hs-stepper-success:bg-seance-700 hs-stepper-completed:bg-violet-600"></div>
            </li>

            <li
                class="flex items-center flex-1 gap-x-2 shrink basis-0 group"
                data-hs-stepper-nav-item='{ "index": 3 }'>
                <span class="inline-flex items-center text-xs align-middle min-w-7 min-h-7 group">
                    <span class="stepper">
                        <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">2</span>
                        <svg-icon
                            src="../../../../../assets/icons/check-sm.svg"
                            svgClass="hidden shrink-0 size-3 hs-stepper-success:block" />
                    </span>
                    <span class="text-sm font-medium text-scarlet-900 ms-2"> Logo and Brand </span>
                </span>
                <div
                    class="flex-1 w-full h-px bg-gray-200 group-last:hidden hs-stepper-success:bg-seance-700 hs-stepper-completed:bg-violet-600"></div>
            </li>

            <li
                class="flex items-center flex-1 gap-x-2 shrink basis-0 group"
                data-hs-stepper-nav-item='{ "index": 4 }'>
                <span class="inline-flex items-center text-xs align-middle min-w-7 min-h-7 group">
                    <span class="stepper">
                        <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">3</span>
                        <svg-icon
                            src="../../../../../assets/icons/check-sm.svg"
                            svgClass="hidden shrink-0 size-3 hs-stepper-success:block" />
                    </span>
                    <span class="text-sm font-medium text-scarlet-900 ms-2"> Address Details </span>
                </span>
                <div
                    class="flex-1 w-full h-px bg-gray-200 group-last:hidden hs-stepper-success:bg-seance-700 hs-stepper-completed:bg-violet-600"></div>
            </li>
        </ul>
        <div class="mt-5 sm:mt-8">
            <div data-hs-stepper-content-item='{ "index": 1 }'>
                <app-card-content
                    (clicked)="toggleUpdate('account')"
                    [title]="'Manage Personal Account Details'"
                    [subtitle]="
                        'Update and review your personal account information for managing your employer profile.'
                    ">
                    @if (isAccount) {
                        <app-account-detail-form
                            [employer]="employer"
                            (clicked)="toggleUpdate('account')" />
                    } @else {
                        <app-account-detail-content [employer]="employer" />
                    }
                </app-card-content>
            </div>

            <div data-hs-stepper-content-item='{ "index": 2 }' style="display: none">
                @if (isCompany) {
                    <app-company-detail-form
                        [companyId]="companyId"
                        [company]="company"
                        (clicked)="toggleUpdate('company')" />
                } @else {
                    <app-card-content
                        (clicked)="toggleUpdate('company')"
                        [title]="'Company Profile Management'"
                        [subtitle]="
                            'Update and review your company details to ensure they are current and correctly displayed.'
                        ">
                        <app-company-detail-content
                            [company]="company"
                            (clicked)="toggleUpdate('company')" />
                    </app-card-content>
                }
            </div>

            <div data-hs-stepper-content-item='{ "index": 3 }' style="display: none">
                <app-brand-logo [companyId]="companyId" [company]="company" />
            </div>

            <div data-hs-stepper-content-item='{ "index": 4 }' style="display: none">
                <app-card-content
                    (clicked)="toggleUpdate('address')"
                    [title]="'Update Company Address'"
                    [subtitle]="
                        'Keep your company address details current to ensure accurate job posting information.'
                    ">
                    @if (isAddress) {
                        <app-address-detail-form [address]="address" [companyId]="companyId" />
                    } @else {
                        <app-address-detail-content
                            [address]="address"
                            [companyName]="companyName" />
                    }
                </app-card-content>
            </div>

            <div data-hs-stepper-content-item='{ "isFinal": true }' style="display: none">
                <div
                    class="flex items-center justify-center h-48 p-4 border border-dashed border-violet-200 bg-violet-50 rounded-xl">
                    <div>
                        <svg-icon
                            src="../../../../../assets/icons/check-green-lg.svg"
                            svgClass="w-16 h-16 mx-auto my-2 text-green-600" />
                        <div class="text-center">
                            <h3
                                class="text-base font-semibold text-center text-scarlet-900 md:text-2xl">
                                Completed!
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-between mt-5 gap-x-2">
                <button type="button" class="btn-negative" data-hs-stepper-back-btn="">Back</button>
                <button type="button" class="btn-positive" data-hs-stepper-next-btn="">Next</button>
                <button
                    type="button"
                    class="btn-positive"
                    data-hs-stepper-finish-btn=""
                    style="display: none">
                    Finish
                </button>
            </div>
        </div>
    </div>
</div>
