<form [formGroup]="form">
  <div class="flex flex-col p-4 bg-white border border-gray-200 shadow-sm rounded-xl md:p-5">
  <app-form-input-field [formGroup]="form" [label]="'Status'" fieldName="status" />
                          <div class="mt-6">
                            <app-button
                                [isLoading]="isLoading"
                                (clicked)="saveChanges()"
                                [label]="'Save Changes'"
                                [isCancel]="false"
                                [isLarge]="false"
                                [isDisabled]="form.invalid"
                                [type]="'save'" />
                        </div>
</div>
</form>
