<div>
  <form>
    <div class="py-6 border-t border-gray-200 first:pt-0 last:pb-0 first:border-transparent">
      <div class="mt-2 space-y-3">
        <app-form-input-field
          [formGroup]="form"
          [label]="'Street'"
          fieldName="street"
        />
        <app-form-input-field
          [formGroup]="form"
          [label]="'Province'"
          fieldName="province"
        />
        <app-form-input-field
          [formGroup]="form"
          [label]="'Regency'"
          fieldName="regency"
        />
        <app-form-input-field
          [formGroup]="form"
          [label]="'District'"
          fieldName="district"
        />
        <app-form-input-field
          [formGroup]="form"
          [label]="'Village'"
          fieldName="village"
        />
        <app-form-input-field
          [formGroup]="form"
          [label]="'Post Code'"
          fieldName="postCode"
        />
      </div>
    </div>
  </form>

  <div class="flex justify-end mt-5 gap-x-2">
    <button (click)="onClicked()" type="button" class="btn-negative">
      Cancel
    </button>
    <button type="button" class="btn-positive">Save changes</button>
  </div>
</div>
