<div class="mx-auto sm:px-1">
    <form>
        <div class="bg-white shadow rounded-xl">
            <div class="relative h-40 overflow-hidden rounded-t-xl">
                <img
                    [src]="header ? header : emptyHeader"
                    loading="lazy"
                    class="absolute inset-0 object-cover w-full h-full"
                    alt="Background Image" />

                <div class="absolute top-0 left-0 p-4">
                    <div
                        class="p-4 mt-0.5 size-5 flex justify-center items-center rounded-full bg-violet-50 text-scarlet">
                        <button type="button" (click)="onClicked()">
                            <i class="pi pi-arrow-right-arrow-left"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="p-4 pt-0 sm:pt-0 sm:p-7">
                <div class="space-y-4 sm:space-y-6">
                    <div>
                        <label class="sr-only"> Product photo </label>

                        <div class="grid sm:flex sm:items-center sm:gap-x-5">
                            <img
                                class="relative z-10 inline-block mx-auto -mt-8 rounded-full size-24 sm:mx-0 ring-4 ring-white"
                                [src]="logo ? logo : emptyLogo"
                                alt="Image Description" />
                        </div>
                    </div>

                    <form>
                        <div
                            class="py-6 border-t border-gray-200 first:pt-0 last:pb-0 first:border-transparent">
                            <div class="mt-2 space-y-3">
                                <app-form-input-field
                                    [formGroup]="form"
                                    [label]="'Name'"
                                    fieldName="name" />
                                <app-form-input-field
                                    [formGroup]="form"
                                    [label]="'Website'"
                                    fieldName="website" />
                                <app-form-input-field
                                    [formGroup]="form"
                                    [label]="'Industry'"
                                    fieldName="industry" />
                                <app-form-input-field
                                    [formGroup]="form"
                                    [label]="'Location'"
                                    fieldName="location" />
                                <app-form-input-field
                                    [formGroup]="form"
                                    [label]="'Benefit'"
                                    fieldName="benefit" />
                                <app-number-field
                                    [formGroup]="form"
                                    [label]="'Size'"
                                    fieldName="size" />
                                <app-form-input-field
                                    [formGroup]="form"
                                    [label]="'Contact Info'"
                                    fieldName="contactInfo" />
                                <app-form-input-field
                                    [formGroup]="form"
                                    [label]="'Description'"
                                    fieldName="description" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="flex justify-center mt-5 gap-x-2">
                    <button (click)="saveChanges()" type="button" class="btn-positive">
                        Save Changes
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
