<div class="mx-auto sm:px-1">
    <form>
        <div class="bg-white shadow rounded-xl">
            <div class="relative h-40 overflow-hidden rounded-t-xl">
                <img
                    src="https://preline.co/assets/svg/examples/abstract-bg-1.svg"
                    loading="lazy"
                    class="absolute inset-0 object-cover w-full h-full"
                    alt="Background Image" />

                <div class="absolute top-0 right-0 p-4">
                    <button
                        type="button"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-gray-800 bg-white border border-gray-200 rounded-lg shadow-sm gap-x-2 hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
                        <svg-icon
                            src="../../../../../assets/icons/upload.svg"
                            svgClass="flex-shrink-0 size-4"></svg-icon>
                        Upload header
                    </button>
                </div>

                <div class="absolute top-0 left-0 p-4">
                    <div
                        class="p-4 mt-0.5 size-5 flex justify-center items-center rounded-full bg-violet-50 text-scarlet">
                        <button type="button" (click)="onClicked()">
                            <i class="pi pi-arrow-right-arrow-left"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="p-4 pt-0 sm:pt-0 sm:p-7">
                <div class="space-y-4 sm:space-y-6">
                    <div>
                        <label class="sr-only"> Product photo </label>

                        <div class="grid sm:flex sm:items-center sm:gap-x-5">
                            <img
                                class="relative z-10 inline-block mx-auto -mt-8 rounded-full size-24 sm:mx-0 ring-4 ring-white"
                                src="https://preline.co/assets/img/160x160/img1.jpg"
                                alt="Image Description" />

                            <div
                                class="mt-4 sm:mt-auto sm:mb-1.5 flex justify-center sm:justify-start gap-2">
    <input
        id="fileInput"
        type="file"
        class="hidden"
        (change)="onChangeFile($event)"
        accept=".jpg,.jpeg,.png,.webp"
    />

    <!-- Button to trigger file input -->
    <button
        (click)="triggerFileInput()"
        type="button"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-gray-800 bg-white border border-gray-200 rounded-lg shadow-sm gap-x-2 hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
        <svg-icon
            src="../../../../../assets/icons/upload.svg"
            svgClass="flex-shrink-0 size-4"></svg-icon>
        Upload logo
    </button>
                            </div>
                        </div>
                    </div>

                    <form>
                        <div
                            class="py-6 border-t border-gray-200 first:pt-0 last:pb-0 first:border-transparent">
                            <div class="mt-2 space-y-3">
                                <app-form-input-field
                                    [formGroup]="form"
                                    [label]="'Name'"
                                    fieldName="name" />
                                <app-form-input-field
                                    [formGroup]="form"
                                    [label]="'Website'"
                                    fieldName="website" />
                                <app-form-input-field
                                    [formGroup]="form"
                                    [label]="'Industry'"
                                    fieldName="industry" />
                                <app-form-input-field
                                    [formGroup]="form"
                                    [label]="'Location'"
                                    fieldName="location" />
                                <app-form-input-field
                                    [formGroup]="form"
                                    [label]="'Benefit'"
                                    fieldName="benefit" />
                                <app-number-field
                                    [formGroup]="form"
                                    [label]="'Size'"
                                    fieldName="size" />
                                <app-form-input-field
                                    [formGroup]="form"
                                    [label]="'Contact Info'"
                                    fieldName="contactInfo" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="flex justify-center mt-5 gap-x-2">
                    <button type="button" class="btn-positive">Save Changes</button>
                </div>
            </div>
        </div>
    </form>
</div>
