@if (company) {
    <div class="p-1">
        <div class="p-1 mx-auto">
            <div class="mb-6">
                <h3 class="font-bold text-scarlet">Name</h3>
                <div class="text-sm text-scarlet-900">
                    {{ company.name }}
                </div>
            </div>
            <div class="mb-6">
                <h3 class="font-bold text-scarlet">Website</h3>
                <a href="mailto:sales@flowbite.com" class="text-sm text-scarlet-900">{{
                    company.website
                }}</a>
            </div>
            <div class="mb-6">
                <h3 class="font-bold text-scarlet">Industry</h3>
                <a href="mailto:supportflowbite.com" class="text-sm text-scarlet-900">{{
                    company.industry
                }}</a>
            </div>
            <div class="mb-6">
                <h3 class="font-bold text-scarlet">Size</h3>
                <a href="mailto:hr@flowbite.com" class="text-sm text-scarlet-900">{{
                    company.size
                }}</a>
            </div>
            <div class="mb-6">
                <h3 class="font-bold text-scarlet">Location</h3>
                <div class="text-sm text-scarlet-900">
                    {{ company.location }}
                </div>
            </div>
            <div class="mb-6">
                <h3 class="font-bold text-scarlet">Description</h3>
                <div class="text-sm text-scarlet-900">
                    {{ company.description }}
                </div>
            </div>
            <div class="mb-6">
                <h3 class="font-bold text-scarlet">Benefit</h3>
                <div class="text-sm text-scarlet-900">
                    {{ company.benefit }}
                </div>
            </div>
            <div class="mb-6">
                <h3 class="font-bold text-scarlet">contactInfo</h3>
                <div class="text-sm text-scarlet-900">
                    {{ company.contactInfo }}
                </div>
            </div>
        </div>
    </div>
} @else {
    <app-card-content
        (clicked)="onClicked()"
        [title]="'Company Detail'"
        [subtitle]="'Manage your Company information'">
        <app-empty-state></app-empty-state>
    </app-card-content>
    <!-- <app-skeleton-loader [isCompany]="true"></app-skeleton-loader> -->
}
