<div class="max-w-[85rem] px-4 py-2 sm:px-6 lg:px-8 lg:py-4 mx-auto">
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
        <div>
            <img
                class="rounded-xl"
                src="https://images.unsplash.com/photo-1648737963503-1a26da876aca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&h=900&q=80"
                alt="Features Image" />
        </div>

        <div class="mt-2 sm:mt-2 lg:mt-0">
            <div class="space-y-6 sm:space-y-8">
                <div class="space-y-2 md:space-y-4">
                    <h2 class="text-3xl font-bold text-scarlet lg:text-4xl">
                        Empowering Employers to Overcome Challenges
                    </h2>
                    <p class="text-scarlet-900">
                        We understand the unique hurdles that start-ups and growing companies
                        encounter. By partnering with you on your digital journey, we’ve developed
                        cutting-edge solutions that address common issues across the recruitment
                        landscape.
                    </p>
                </div>

                <ul class="space-y-2 sm:space-y-4">
                    <li class="flex gap-x-3">
                        <span
                            class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-violet-50 text-scarlet">
                            <svg-icon
                                src="../../../../../assets/icons/check-sm.svg"
                                svgClass="flex-shrink-0 size-3.5" />
                        </span>
                        <div class="grow">
                            <span class="text-sm text-scarlet-900 sm:text-base">
                                Streamlined & Swift Job Posting
                            </span>
                        </div>
                    </li>

                    <li class="flex gap-x-3">
                        <span
                            class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-violet-50 text-scarlet">
                            <svg-icon
                                src="../../../../../assets/icons/check-sm.svg"
                                svgClass="flex-shrink-0 size-3.5" />
                        </span>
                        <div class="grow">
                            <span class="text-sm text-scarlet-900 sm:text-base">
                                Robust Recruiting Tools
                            </span>
                        </div>
                    </li>

                    <li class="flex gap-x-3">
                        <span
                            class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-violet-50 text-scarlet">
                            <svg-icon
                                src="../../../../../assets/icons/check-sm.svg"
                                svgClass="flex-shrink-0 size-3.5" />
                        </span>
                        <div class="grow">
                            <span class="text-sm text-scarlet-900 sm:text-base">
                                Optimized Employer Experience
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
