<footer class="sticky bottom-0 mt-auto w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto">
    <div class="grid items-center grid-cols-1 gap-5 md:grid-cols-3">
        <div>
            <app-logo [style]="'w-22 h-16'" />
        </div>
        <ul class="text-center">
            <li
                class="inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-3 before:-translate-y-1/2 before:content-['/'] before:text-seance-300">
                <a
                    class="inline-flex text-sm text-scarlet gap-x-2 hover:text-seance-800"
                    [routerLink]="'about'">
                    About
                </a>
            </li>
            <li
                class="inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-3 before:-translate-y-1/2 before:content-['/'] before:text-seance-300">
                <a
                    class="inline-flex text-sm text-scarlet gap-x-2 hover:text-seance-800"
                    [routerLink]="''">
                    Services
                </a>
            </li>
            <li
                class="inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-3 before:-translate-y-1/2 before:content-['/'] before:text-seance-300">
                <a
                    class="inline-flex text-sm text-scarlet gap-x-2 hover:text-seance-800"
                    [routerLink]="''">
                    Blog
                </a>
            </li>
        </ul>

        <div class="space-x-2 md:text-end">
            <a
                class="inline-flex items-center justify-center text-sm font-semibold border border-transparent rounded-full text-violet-200 size-8 gap-x-2 hover:bg-scarlet-50 disabled:opacity-50 disabled:pointer-events-none"
                href="javascript:void(0)">
                <svg-icon
                    src="../../../../../assets/icons/google.svg"
                    svgClass="flex-shrink-0 size-3.5" />
            </a>
            <a
                class="inline-flex items-center justify-center text-sm font-semibold border border-transparent rounded-full text-violet-200 size-8 gap-x-2 hover:bg-scarlet-50 disabled:opacity-50 disabled:pointer-events-none"
                href="javascript:void(0)">
                <svg-icon
                    src="../../../../../assets/icons/twitter.svg"
                    svgClass="flex-shrink-0 size-3.5" />
            </a>
            <a
                class="inline-flex items-center justify-center text-sm font-semibold border border-transparent rounded-full text-violet-200 size-8 gap-x-2 hover:bg-scarlet-50 disabled:opacity-50 disabled:pointer-events-none"
                href="javascript:void(0)">
                <svg-icon
                    src="../../../../../assets/icons/github.svg"
                    svgClass="flex-shrink-0 size-3.5" />
            </a>
            <a
                class="inline-flex items-center justify-center text-sm font-semibold border border-transparent rounded-full text-violet-200 size-8 gap-x-2 hover:bg-scarlet-50 disabled:opacity-50 disabled:pointer-events-none"
                href="javascript:void(0)">
                <svg-icon
                    src="../../../../../assets/icons/slack.svg"
                    svgClass="flex-shrink-0 size-3.5" />
            </a>
        </div>
    </div>
</footer>
