:host {
    display: block;
}

.errors {
    &-message {
        @apply blink absolute left-0 text-xs font-semibold text-red-700;
    }
}

.label-valid {
    @apply flex justify-center text-start text-xs font-medium text-elephant-950;
}

.label-invalid {
    @apply flex justify-center text-start text-xs font-medium text-red-700;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

::ng-deep {
    .p-float-label label {
        font-size: 12px !important;
        font-weight: 600;
    }

    .p-component {
        font-size: 12px;
        font-weight: 700;
        @apply border-elephant-200 rounded-lg;
    }
}
