  <div class="px-4 py-8 mx-auto sm:px-6 lg:px-8">
        <div class="text-center">
            <h1 class="text-2xl font-semibold text-gray-900">Hi Glorieus</h1>
            <p class="mt-2 text-lg text-gray-600">
                You're in the right place to find your next hire. Get started by creating your first job ad.
            </p>
            <button class="px-4 py-2 mt-4 text-white rounded-lg shadow bg-elephant-900 hover:bg-elephant-700">
                Create a Job Ad
            </button>
        </div>

        <div class="mt-2">
            <h2 class="mb-8 text-3xl font-bold text-center text-gray-900">Find the best person for your role</h2>
            <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
                <div class="text-center">
                    <div class="flex justify-center mb-4">
                        <div class="p-4 rounded-full bg-elephant-100">
                            <img src="../../../../../assets/icons/manage-jobs.svg" alt="Create a job ad icon" class="w-12 h-12 icon-primary-1">
                        </div>
                    </div>
                    <h3 class="text-xl font-semibold text-gray-900">Create a job ad</h3>
                    <p class="mt-2 text-gray-600">
                        Our step-by-step guide makes posting your job ad quick and easy.
                    </p>
                </div>
                <div class="text-center">
                    <div class="flex justify-center mb-4">
                        <div class="p-4 rounded-full bg-elephant-100">
                            <img src="../../../../../assets/icons/ads-type.svg" alt="Choose your ad type icon" class="w-12 h-12 icon-primary-1">
                        </div>
                    </div>
                    <h3 class="text-xl font-semibold text-gray-900">Choose your ad type</h3>
                    <p class="mt-2 text-gray-600">
                        We have three different ad types to suit all your needs.
                    </p>
                </div>
                <div class="text-center">
                    <div class="flex justify-center mb-4">
                        <div class="p-4 rounded-full bg-elephant-100">
                            <img src="../../../../../assets/icons/manage-candidates.svg" alt="Manage your candidates icon" class="w-12 h-12 icon-primary-1">
                        </div>
                    </div>
                    <h3 class="text-xl font-semibold text-gray-900">Manage your candidates</h3>
                    <p class="mt-2 text-gray-600">
                        We make it easy for you to identify the best candidates applying for your role.
                    </p>
                </div>
            </div>
        </div>
    </div>
