:host {
    display: block;
}

::placeholder {
    color: inherit;
    opacity: 1;
}

.invalid {
    @apply py-3 flex justify-center text-start text-sm font-medium text-red-700 border-red-700;

    &::placeholder {
        @apply text-red-700;
    }
}

.valid {
    @apply py-3 flex justify-center text-start text-sm font-medium text-scarlet-950;
}

.errors {
    &-message {
        @apply blink absolute left-0 text-xs font-semibold text-red-700;
    }
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

input {
    font-weight: 700;
    @apply rounded-lg border-scarlet-200 text-sm;
}
